
numpy==1.21
torch
torchaudio
TTS
gradio
librosa
soundfile
pydub
jiwer
nltk
pyworld
pynini
phonemizer
unidecode
inflect
eng_to_ipa
num2words
pyloudnorm
pysoundfile
resampy
matplotlib
tensorboard
tqdm
coqpit
fsspec
gdown
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
aiohttp
transformers
datasets
pyyaml
scikit-learn
pypinyin
jieba
gruut
g2p_en
epitran
panphon
pycnnum
mecab-python3
unidic-lite
jaconv
ko_pron
indic_transliteration
aksharamukha
bnnumerizer
bnunicodenormalizer
cython
scipy